
<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Prerequisite:</strong>
  <%= @course.prerequisite %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course.location %>
</p>